/**default del body**/

* {
    margin: 0;
    padding: 0;
  }
  


header{
    background-image: url('img/pattern.png');
    background-size: 30%;
    background-color: rgb(0, 166, 255);
    padding: 40px 0px 15px 0px;
    color: white;
}

.container {
    max-width: 70%;
    margin: 0 auto;
  }

  .dati-default {
    margin-bottom: 20px;
  }

  .title-color {
    color: #808080;
  }

  .autore {
    color: #20a9e5;
  }
  
  footer h4 {
    margin-bottom: 12px;
  }

  .sottotitolo{
    font-size: 14px;
  }

#logo{
    height: 40px;
}

.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

h3{
    text-align: left;
}

#booleaner{
    text-align: left;
}

.titolo-grande{
    display: inline;
    font-size: 65px;
}

.grigio{
    color: gray;
    display: contents;
    
}

.blue{
    color: blue;
}

.data{
    color: gray;
}

.descrizione-foto{
    text-align: left;
}

.img-monitor{
    background-image: url(img/monitor.jpg);
    background-size: cover;
    color: white;
}

.img-graph{
    background-image: url(img/graph.jpg);
    background-size: contain;
    margin: 20px;
    color: white;
}