header{
    background-image: url('img/pattern.png');
    background-size: auto;
    background-attachment: fixed;
    background-color: rgb(0, 166, 255);
    margin: 0;
    padding: 1.5%;
}

.title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    
}

h3{
    text-align: left;
}

#booleaner{
    text-align: left;
}

.titolo-grande{
    display: inline;
    font-size: 65px;
}

.grigio{
    color: gray;
    display: contents;
    
}

.blue{
    color: blue;
}

.data{
    color: gray;
}

.descrizione-foto{
    text-align: left;
    
    
}

